@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 151 20% 95%;
    --foreground: 151 5% 4%;
    --card: 151 20% 90%;
    --card-foreground: 151 5% 10%;
    --popover: 151 20% 95%;
    --popover-foreground: 151 95% 4%;
    --primary: 151 70% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151 20% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 113 20% 85%;
    --muted-foreground: 151 5% 35%;
    --accent: 113 20% 80%;
    --accent-foreground: 151 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 151 5% 90%;
    --border: 151 20% 50%;
    --input: 151 20% 18%;
    --ring: 151 70% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 151 20% 5%;
    --foreground: 151 5% 90%;
    --card: 151 20% 4%;
    --card-foreground: 151 5% 90%;
    --popover: 151 20% 5%;
    --popover-foreground: 151 5% 90%;
    --primary: 151 70% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151 20% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 113 20% 15%;
    --muted-foreground: 151 5% 60%;
    --accent: 113 20% 15%;
    --accent-foreground: 151 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 151 5% 90%;
    --border: 151 20% 18%;
    --input: 151 20% 18%;
    --ring: 151 70% 45%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
